# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Java
target/
*.class

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Logs
*.log